[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ddp"]
	path = ddp
	url = https://github.com/cran/ddp
[submodule "kmed"]
	path = kmed
	url = https://github.com/cran/kmed
